<!DOCTYPE html>
<html>
<body>
<h1>Gestion des stocks app</h1>
<form action="/">
    <input type="submit" value="Retour à l'accueil" />
</form>

<p>Click the button to trigger a function that will request Business Intelligence.</p>

<button onclick="myFunction()">Request</button>

<p id="log"></p>

<script>
function myFunction() {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "{% url 'gestion-stock:request' %}", false ); // false for synchronous request
    xmlHttp.send( null );
  document.getElementById("log").innerHTML += xmlHttp.responseText + "<br>";
}
</script>

</body>
</html>
