{% extends "base.html" %}
{% block title %} Accueil {% endblock %}
{% block content %}

    <a href="/" class="btn btn-primary" role="button">Retour à l'accueil</a>
     <a href="/list/delete" class="btn btn-primary" role="button">Effacer le stock</a>
<h2>Liste de produits stockés</h2>
</div>
    <table border="1" cellpadding="5">
    <tr>
        <td>Code produit</td>
        <td>Quantité</td>
    </tr>
    {% for a in articles %}
        <tr>
            <td>{{a.codeProduit}}</td>
            <td>{{a.quantity}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}