{% extends "base.html" %}
{% block title %} Accueil {% endblock %}
{% block content %}

    <a href="/" class="btn btn-primary" role="button">Retour à l'accueil</a>
     <a href="/list/delete" class="btn btn-primary" role="button">Effacer la liste</a>
    <a href="/list/update" class="btn btn-primary" role="button">Récuperer les produits</a>
<h2>Liste de produits</h2>
</div>
    <table border="1" cellpadding="5">
    <tr>
        <td>Code produit</td>
        <td>Famille</td>
        <td>Description</td>
        <td>QuantitéMin</td>
        <td>Packaging</td>
        <td>Prix</td>
    </tr>
    {% for p in produits %}
        <tr>
            <td>{{p.codeProduit}}</td>
            <td>{{p.familleProduit}}</td>
            <td>{{p.descriptionProduit}}</td>
            <td>{{p.quantiteMin}}</td>
            <td>{{p.packaging}}</td>
            <td>{{p.prix}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}