{% extends "base.html" %}
{% block title %} Accueil {% endblock %}
{% block content %}

    <a href="/" class="btn btn-primary" role="button">Retour à l'accueil</a>
<h2>Entrée de la marchandise</h2>
    <table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Entry</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{entry.package}}</td>
                <td>{{entry.date}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}