{% extends "base.html" %}
{% block title %} Accueil {% endblock %}
{% block content %}
<h1>Gestion des stocks</h1>
Bienvenue sur l'application "Gestion des stocks"
    </br></br></br>
<a href="/list" class="btn btn-primary" role="button">Liste de produits</a>
    <a href="/stock" class="btn btn-primary" role="button">Liste des stocks</a>
    <a href="/schedule" class="btn btn-primary" role="button">Liste du Schedule</a>
    <a href="/entries" class="btn btn-primary" role="button">Livraison</a>
    <a href="/test_async" class="btn btn-primary" role="button">Test async</a>
{% endblock %}