{% extends "base.html" %}
{% block title %} Accueil {% endblock %}
{% block content %}

    <a href="/" class="btn btn-primary" role="button">Retour à l'accueil</a>
    <button type="button"  class="btn btn-primary" data-toggle="modal"
    data-target="#ScheduleModal">Schedule</button>

<div class="modal fade" id="ScheduleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule a task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/schedule/add" method="post" enctype="multipart/form-data">
      <div class="modal-body">
        {% csrf_token %}
        {{ form.as_p }}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <input type="submit" class="btn btn-secondary" value="Enregistrer" />
      </div>
    </div>
        </form>
  </div>
</div>
</div>

<h2>Liste du Schedule</h2>
    <h3>{{ time }}</h3>
</div>
{{ list | safe }}
{% endblock %}