{% extends "base.html" %}
{% block title %} Accueil {% endblock %}
{% block content %}

    <a href="/" class="btn btn-primary" role="button">Retour à l'accueil</a>
     <a href="/list/delete" class="btn btn-primary" role="button">Effacer la liste</a>
    <a href="/list/update" class="btn btn-primary" role="button">Récuperer les produits</a>
<h2>Stock produits</h2>
</div>
    <table border="1" cellpadding="5">
    <tr>
        <td>Code produit</td>
        <td>Quantité</td>
    </tr>
    {% for article in stock %}
        <tr>
            <td>{{article.idProduit}}</td>
            <td>{{article.stock}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}